@font-face{
  font-family: SyneMono;
  src: url("../src/assets/fonts/SyneMono-Regular.ttf")
}

@import "tailwindcss";

@theme{
  --font-synemono: SyneMono;
  --color-antracite: #676268;
  --color-bonewhite: #F9F6EE;
}
